{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>COVID-Analytics</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <style>
        .cursor-pointer{
            cursor: pointer;
        }
    </style>
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="far fa-chart-bar"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>COVID PROJECT</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link active cursor-pointer" nav-controll="#content" ><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link cursor-pointer" nav-controll="#analytics" ><i class="fas fa-tachometer-alt"></i><span>Analytics</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" class="nav-controller">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <h3 class="text-dark mb-0">Dashboard</h3>
                        <!-- <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                            </div>
                        </form> -->
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-end align-items-center mb-4">
                        <a class="btn btn-primary btn-sm d-none d-sm-inline-block" href="data/download_data/" target="_blank" role="button" ><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Download Data</a>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>ToTal CASES</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span class='display_total_count'>400,000</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-success py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>ACTIVE CASES</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span class='display_active_count'>215,000</span></div>
                                        </div>
                                        <div class="col-auto">
                                            <p class="display_active_percentage">40%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-info py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>DEAD</span></div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="text-dark font-weight-bold h5 mb-0 mr-3"><span class='display_death_count'>50000</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <p class="display_death_percentage">20%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-warning py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>DAILY AVERAGE</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span class="display_daily_average">18</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-xl-8">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary font-weight-bold m-0">CASES OVERVIEW</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area w-100 h-100">
                                        <!-- line chart area -->
                                        <canvas id="line_chart" class="w-100 h-100"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-xl-4">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary font-weight-bold m-0">AGE WISE ANALYSIS</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area w-100 h-100">
                                        <canvas id="age_donut" height="350" width="350"></canvas>
                                    </div>
                                    <div class="text-center small mt-4">
                                        <span class="mr-2"><i class="fas fa-circle " style="color: #5cbacc;" ></i>&nbsp;&lt; 5</span>
                                        <span class="mr-2"><i class="fas fa-circle " style="color: #66d185;" ></i>&nbsp;5 - 20</span>
                                        <span class="mr-2"><i class="fas fa-circle " style="color: #4e73df;" ></i>&nbsp;20 - 40</span>
                                        <span class="mr-2"><i class="fas fa-circle " style="color: #f5cd54;" ></i>&nbsp;40 - 60</span>
                                        <span class="mr-2"><i class="fas fa-circle " style="color: #ee9e3d;" ></i>&nbsp;&gt; 60</span>

                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-sm-flex justify-content-end align-items-center">
                                <h6 class="text-primary font-weight-bold m-0">ALL COUNTRIES</h6>
                                <div class="input-group"><input class="bg-light form-control border-0 small" id="searchCountry" type="text" placeholder="Search for ...">
                                    <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                </div>
                            </div>
                            <div class="card-body overflow-auto p-0" id="bar_charts" style="height: 335px;">

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row d-flex justify-content-between">
                            <h4 class="text-primary font-weight-bold ml-2"> Data - Overview </h4>
                            <h6 class="mr-3 mt-2 text-black-50" id="card-info-country-name"> All countries </h6>
                        </div>
                        <div class="row ">
                            <div class="col-lg-6 mb-4">
                                <div class="card text-white bg-primary shadow" id="card-info-total-cases">
                                    <div class="card-body">
                                        <p class="m-0">TOTAL CASES</p>
                                        <p class="text-white-50 mt-2 small m-0 text-value">#4e73df</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <div class="card text-white bg-success shadow" id="card-info-recovered-cases">
                                    <div class="card-body">
                                        <p class="m-0">RECOVERED CASES</p>
                                        <p class="text-white-50 mt-2 small m-0 text-value">#1cc88a</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <div class="card text-white bg-info shadow" id="card-info-active-cases">
                                    <div class="card-body">
                                        <p class="m-0">ACTIVE CASES</p>
                                        <p class="text-white-50 mt-2 small m-0 text-value">#36b9cc</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <div class="card text-white bg-warning shadow d-none" id="card-info-recovered-cases">
                                    <div class="card-body">
                                        <p class="m-0">DAILY AVERAGE</p>
                                        <p class="text-white-50 mt-2 small m-0 text-value">#f6c23e</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <div class="card text-white bg-danger shadow" id="card-info-death-cases">
                                    <div class="card-body">
                                        <p class="m-0">DEATH CASES</p>
                                        <p class="text-white-50 mt-2 small m-0 text-value">#e74a3b</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <div class="card text-white bg-secondary shadow d-none">
                                    <div class="card-body">
                                        <p class="m-0">Secondary</p>
                                        <p class="text-white-50 small m-0">#858796</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div id="analytics" class="nav-controller d-none">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <h3 class="text-dark mb-0">Analytics</h3>
                        <!-- <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                            </div>
                        </form> -->
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>ToTal CASES</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span class='display_total_count'>400,000</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-success py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>ACTIVE CASES</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span class='display_active_count'>215,000</span></div>
                                        </div>
                                        <div class="col-auto">
                                            <p class="display_active_percentage">40%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-info py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>DEAD</span></div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="text-dark font-weight-bold h5 mb-0 mr-3"><span class='display_death_count'>50000</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <p class="display_death_percentage">20%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-warning py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>DAILY AVERAGE</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span class="display_daily_average">18</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 col-xl-10" id="analytics_chart_1">
                            <div class="spinner-border text-info" role="status">
                            <span class="sr-only">Loading...</span>
                            </div>
                            <span class="text-info"> Building Models.. </span>
                        </div>

                    </div>
                </div>
            </div>

        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>DATA SOURCE: JHONHAWKINS | as of 2020-07-10</span></div>
            </div>
        </footer>


    </div>


    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script> -->
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.19/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
</body>

</html>